
.prod-list {
    padding-top: 40px;
    padding-bottom: 70px;
}

.prod-list .container {
    max-width: 1100px;
    margin: auto;
}

.prod-list .container .title ul {
    padding-left: 0;
    list-style: none;
    /* ul의 li의 점을 없애준다 */
}

.prod-list .container .title ul li {
    display: inline;
    /* ul안 li를 가로로 정렬해 준다 */
    margin-right: 10px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 2px;

}

.prod-list .container .title .ul .li a {
    text-decoration: none;
    /* a태그 밑줄을 없애줌 */
    color: #444;
}

.prod-list .container .item-list {
    display: flex;
    flex-wrap: wrap;
    /* 상위 요소의 너비보다 하위 요소의 너비가 더 클 경우 줄 바꿈 */
    justify-content: space-between;
    gap: 20px;
}

.prod-list .container .item-list .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
}

.prod-list .container .item-list .card .img-box {
    height: 250px;
    width: 380px;
}

.prod-list .container .item-list .card img {
    width: auto;
    height: auto;
}

.prod-list .container .item-list .card .text p {
    font-size: 14px;
    opacity: .8;
    /* 이건뭔데 */
}

.prod-list .container .item-list .card .text button {
    background: green;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    transition: .5s ease;
}

.prod-list .container .item-list .card .text button:hover {
    transition: .5s ease;
    border: 2px solid green;
    background: transparent;
    color: black;
}