/* 윤석찬 page: main page */
/* 모바일 기준 -  480이하일 경우 ~480 */

/* search / 검색창 */
.main-page .search {
    display: flex;
    justify-content: center;
}

.main-page .search-box {
    height: 40px;
    width: 350px;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main-page .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #797979;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
}

.main-page .search-btn {
    color: #ccc;
    float: left;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.main-page .search-btn img {
    width: 2.5em;
    height: 2.5em;
}

/* main-auction / 경매상품 */

#main-auction {
    width: 100%;
    height: 300px;
}

.main-page #main-auction {
    width: 100%;
    height: 300px;
}

.main-page #main-auction .swiper {
    width: 100%;
    height: 100%;
}

.main-page #main-auction .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page #main-auction .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* main-item / 일반 상품 */

#main-item {
    width: 100%;
    height: auto;
    /* background-color: pink; */
}

.prod-list{
    padding-top: 70px;
    padding-bottom: 70px;
}

.prod-list .container {
    max-width: 1100px;
    margin: auto;
}

.prod-list .container .title ul{
    padding-left: 0;
    list-style: none; /* ul의 li의 점을 없애준다 */
}

.prod-list .container .title ul li {
    display: inline; /* ul안 li를 가로로 정렬해 준다 */
    margin-right: 30px;
    border: 1px solid green;
    border-radius: 5px;
    padding: 2px;
}

.prod-list .container .title .ul .li a {
    text-decoration: none; /* a태그 밑줄을 없애줌 */
    color: #444;
}

.prod-list .container .item-list{
    display: flex;
    flex-wrap: wrap; /* 상위 요소의 너비보다 하위 요소의 너비가 더 클 경우 줄 바꿈 */
    justify-content: space-between;
}

.prod-list .container .item-list .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.prod-list .container .item-list .card img{
    width: auto;
    height: auto;
}

.prod-list .container .item-list .card .text p{
    font-size: 14px;
    opacity: .8; /* 이건뭔데 */
}

.prod-list .container .item-list .card .text button {
    background: green;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    transition: .5s ease;
}

.prod-list .container .item-list .card .text button:hover{
    transition: .5s ease;
    border: 2px solid green;
    background: transparent;
    color: black;
}

/* .inner {
    position: relative;
    z-index: 1;
} */

/* 반응형 분기점 */
/* 480이하일 경우 ~480 */
/* @media (max-width: 480px) {} */

/* 반응형 분기점 */
/* 모바일 / 480이하일 경우 */
@media (max-width: 480px) {
    .prod-list .container .item-list .card {
        width: 100%;
    }
}

/* 모바일 / 768이하일 경우 480~768 */
@media (min-width: 480px) and (max-width: 768px) {
    .prod-list .container .item-list .card {
        height: 350px;
        width: calc(50% - 20px); /* 카드의 여백을 고려한 너비 설정 */
    }
}

/* 태블릿PC / 1024이하일 경우 768~1024 */
@media (min-width: 768px) and (max-width: 1024px) {
    .prod-list .container .item-list .card {
        width: calc(33.33% - 20px); /* 세 개씩 배치 */
    }
}

/* PC / 1024~1440 */
@media (min-width: 1024px) and (max-width: 1440px) {
    .prod-list .container .item-list .card {
        width: calc(25% - 20px); /* 네 개씩 배치 */
    }
}

/* PC / 1440이상일 경우 */
@media (min-width: 1440px) {
    .prod-list .container .item-list .card {
        width: calc(20% - 20px); /* 다섯 개씩 배치 */
    }
}