<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/auctiondetail.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="inner">헤더</div>
    </header>
    <div id="wrap">
        <div id="auction-detail">
            경매상품상세
        </div>
    </div>
    <footer>
        <div class="inner">푸터</div>
    </footer>
</body>
</html>