<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/auctiondetail.css" />
        <script src="https://kit.fontawesome.com/1b7922c83d.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="inner">헤더</div>
        </header>
        <div id="wrap">
            <div id="auction-detail">
                <div class="detail-bg"></div>
                <div class="detail-inner">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide auction-img">
                                <a href=""><img src="/image/test.jpg" alt="" /></a>
                            </div>
                            <div class="swiper-slide auction-img">
                                <a href=""><img src="/image/test.jpg" alt="" /></a>
                            </div>
                            <div class="swiper-slide auction-img">
                                <a href=""><img src="/image/test.jpg" alt="" /></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="auction-user">
                        <div class="user-img">
                            <a href="#"
                                ><img src="/image/test2.jpg" alt=""
                            /></a>
                        </div>
                        <div class="user-name">user사진,닉네임 불러오기</div>
                    </div>
                    <div class="auction-text">
                        <div>
                            <h4>상품명</h4>
                            <p>Lorem ipsum, dolor si</p>
                        </div>
                        <div>
                            <h4>시작가</h4>
                            <p>100,000~</p>
                        </div>
                        <div>
                            <h4>기간</h4>
                            <p>07.28 ~ 08.02</p>
                        </div>
                        <div>
                            <h4>상품설명</h4>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Doloremque ipsa quam, esse,
                                hic quas eaque a facere accusamus, fugiat
                                dolorum voluptates eos ea id ex! Cum dolore
                                nostrum aut odit?
                            </p>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button class="bid-btn">입찰하기</button>
                        <button class="chat-btn">1:1문의</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="inner">푸터</div>
        </footer>
        <script>
            var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
            },
            });

            const chat = document.querySelector('.chat')
        </script>
    </body>
</html>
