<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1b7922c83d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="inner">
            <h1 id="logo">
                <a href="/"><img src="/image/logo.png" alt=""></a>
            </h1>
            <div>
                <div class="header-top">
                    <ul>
                        <li>로그인</li>
                        <li>회원가입</li>
                    </ul>
                </div>
                <div class="header-bottom">
                    <nav>
                        <ul>
                            <li><a href="/auction">경매상품</a></li>
                            <li><a href="/secondhand">중고상품</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-header">
                    <div class="nav-icon">
                        <i class="fa-solid fa-user"></i>
                        <i class="fa-solid fa-bars" onclick="navOpen()"></i>
                    </div>
                    <nav>
                        <div><i class="fa-solid fa-xmark close-btn" onclick="closeBtn()"></i></div>
                        <ul>
                            <li><a href="/auction">경매상품</a></li>
                            <li><a href="/secondhand">중고상품</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--  -->
    <div id="wrap">
        <section class="main-page">
            <div class="search-box">
                <!-- onkeypress 말고 엔터키만 따로 지정해서 검색할 수 있게 설정 바꾸기 -->
                <input type="search" class="search-txt" placeholder="검색어 입력" onChange={onInputSearch} onkeyup={onSubmitSearch} />
                <div class="img-box">
                    <img src="/image/search_icon.png" alt="search_icon">
                </div>
            </div>

            <br>
            <hr>
            <br>

            <div class="main-auction">
                <h1>경매 상품</h1>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 1</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 2</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 3</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 4</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 5</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 6</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 7</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 8</div>
                        <div class="swiper-slide"><img src="/image/logo.png" alt="">Slide 9</div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <br>
            <hr>
            <br>

            <div class="main-item">
                <div class="prod-list">
                    <div class="container">
                        <h1>일반 상품</h1>
                        <div class="title">
                            <br>
                            <ul>
                                <li><a href="">전자제품</a></li>
                                <li><a href="">패션잡화</a></li>
                                <li><a href="">음식</a></li>
                                <li><a href="">기타등등</a></li>
                            </ul>
                        </div>

                        <br>
                        <hr>
                        <br>

                        <div class="item-list">

                            <div class="card">
                                <div class="card-img">
                                    <img src="/image/test.jpg" alt="">
                                </div>
                                <div class="card-txt">
                                    <h2>상품이름</h2>
                                    <p>가격</p>
                                    <button>보러가기</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-img">
                                    <img src="/image/logo.png" alt="">
                                </div>
                                <div class="card-txt">
                                    <h2>상품이름</h2>
                                    <p>가격</p>
                                    <button>보러가기</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-img">
                                    <img src="/image/logo.png" alt="">
                                </div>
                                <div class="card-txt">
                                    <h2>상품이름</h2>
                                    <p>가격</p>
                                    <button>보러가기</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-img">
                                    <img src="/image/logo.png" alt="">
                                </div>
                                <div class="card-txt">
                                    <h2>상품이름</h2>
                                    <p>가격</p>
                                    <button>보러가기</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-img">
                                    <img src="/image/logo.png" alt="">
                                </div>
                                <div class="card-txt">
                                    <h2>상품이름</h2>
                                    <p>가격</p>
                                    <button>보러가기</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-img">
                                    <img src="/image/logo.png" alt="">
                                </div>
                                <div class="card-txt">
                                    <h2>상품이름</h2>
                                    <p>가격</p>
                                    <button>보러가기</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!--  -->

    <footer>
        <div class="inner">
            <div class="footer-top">
                <ul>
                    <li>회사소개</li>
                    <li>이용약관</li>
                    <li>개인정보처리방침</li>
                    <li>고객문의</li>
                </ul>
            </div>
            <div class="footer-bottom">
                <h4>Auction Chance</h4>
                <ul class="company">
                    <li>대표이사: Chance</li>
                    <li>사업자등록번호: 012-34-56789</li>
                    <li>통신판매업신고: 2023-서울마포-0000</li>
                    <li>EMAIL: chance@auctionchance.co.kr</li>
                    <li>주소: 서울시 마포구 염리동</li>
                </ul>
                <ul class="callcenter">
                    <li>고객센터</li>
                    <li>0000-0000</li>
                </ul>
                <ul class="sns">
                    <li><a href="https://www.instagram.com/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a></i></li>
                    <li><a href="https://x.com/?lang=ko" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="fix-icon chat-icon"><i class="fa-solid fa-comment"></i></div>
    <div class="modal-bg"></div>
    <div class="chat-view">
        <div><i class="fa-solid fa-xmark close-btn" onclick="closeBtn()"></i></div>
        <h4>채팅</h4>
        <div class="chat-room">
            <div class="user-img">
                <img src="/image/test2.jpg" alt="">
            </div>
            <div class="chat-main">
                <div class="chat-text">
                    <div class="user-name">
                        <p>user1</p>
                    </div>
                    <div class="message">
                        <p>아ㅏㅏㅏ아아아ㅏ아아아아아</p>
                    </div>
                </div>
                <div class="chat-info">
                    <div class="chat-date">
                        <p>오전 1:25</p>
                    </div>
                    <div class="chat-check">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-room">
            <div class="user-img">
                <img src="/image/test2.jpg" alt="">
            </div>
            <div class="chat-main">
                <div class="chat-text">
                    <div class="user-name">
                        <p>user2</p>
                    </div>
                    <div class="message">
                        <p>아ㅏㅏㅏ아아아ㅏ아아아아아</p>
                    </div>
                </div>
                <div class="chat-info">
                    <div class="chat-date">
                        <p>오전 1:25</p>
                    </div>
                    <div class="chat-check">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat">
        <div class="chat-top">
            <div class="former-btn"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="chat-member">
                <div class="user-img">
                    <img src="/image/test2.jpg" alt="">
                </div>
                <div class="user-name">
                    <p>user1</p>
                </div>
            </div>
        </div>
        <div class="chat-body">
        </div>
        <form class="chat-input">
            <textarea class="area">
                    </textarea>
            <div>
                <div>
                    <label for="file">
                        <i class="fa-regular fa-file-image"><input type="file" id="file"></i>
                    </label>
                    <div class="emoticon">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                </div>
                <button class="send-btn"><i class="fa-regular fa-paper-plane"></i></button>
            </div>
        </form>
    </div>

    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        let swiper = new Swiper(".mySwiper", {
            slidesPerView: 1, // 기본 값은 3개
            spaceBetween: 30,
            centeredSlides: false, // 이거 true하면 1개지정해서 가운데 고정이라 원하는 갯수로 설정 힘듦
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                1: {
                    slidesPerView: 1
                },
                768: {
                    slidesPerView: 2 // 왜 안되지... / centeredSlides: true 이거 때문이였음...
                },
                1024: {
                    slidesPerView: 3
                }
            }
        });

        const onSubmitSearch = (e) => {
            if (e.key === "Enter") {
                // 키를 눌렀을 때 동작할 코드를 넣으면 됨
            }
        };
    </script>
</body>

</html>