<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="inner">
            <div id="logo">
                <a href="/"><img src="/image/logo.png" alt=""></a>
            </div>
            <nav>
                
            </nav>
        </div>
    </header>
    <div id="wrap">
        <div id="search">
            검색창
        </div>
        <div id="main-auction">
            경매상품
        </div>
        <div id="main-item">
            일반상품
        </div>
    </div>
    <footer>
        <div class="inner">푸터</div>
    </footer>
</body>
</html>